.lnk_callback.js-callback-open {
	display: none;
}
.payments {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pauments_item {
    margin: 0 4px;
}
a.co-button.co-button--link.co-form-button {
    padding: 0.5rem 1rem;
    font-size: 1.2857rem;
    height: 43px;
    line-height: 26px;
}
a.co-button.co-button--link.co-form-button:after {
    display: none;
}
@media screen and (max-width:768px) {
.created-by > div {
    margin: 10px 0;
}
}
